/1x/
/2x/
/brrightness/
/build/
/logDir_IS_UNDEFINED/
/mydoc/
/target/
/dependency-reduced-pom.xml
/export.json
/prebuilt.sh
/test.json
/hs_err_*
/Brightness.lock
/.*.log
/*.log
/.settings/
/.classpath
/.project
