/1x/
/2x/
/brrightness/
/build/
/logDir_IS_UNDEFINED/
/mydoc/
/target/
/dependency-reduced-pom.xml
/export.json
/prebuilt.sh
/test.json
/hs_err_pid47999.log
/hs_err_pid48133.log
/Brightness.lock
/.*.log
/*.log
